<section class="products-show">
  <header class="page-header">
    <%= link_to @product.category.name, @product.category %>
    <h1><%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
            <dd><%= @product.name %></dd>
          <dt>Description</dt>
            <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
            <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
            <dd><%= @product.price %></dd><br/>
          <% if @average.to_i == 0 %>
          This product has not been rated yet.
          <% else %>
          <h4><dt>Product Rating</dt>
            <dd><%= @average.to_i %> out of 5</dd></h4>
          <% end %>
        </dl>
      </div>
    </div>
    <%= render 'review' %>
    <h3 class="page-header"> Reviews: </h3>
    <br/>
    <% @reviews.each do |review| %>
      <%= render 'rating', rating: review.rating, description: review.description, user: review.user_id, user: review.user.name, created_at: review.created_at  %>
    <% end %>
  </article>
</section>
